
@{
    ViewBag.Title = "GetAllChatsForUser";
}
@model IEnumerable<MIPChat.DAL.Domain.Chat>

@{


    if (Model != null)
    {

        foreach (var chat in Model)
        {
             
            <li class="group selected_msg_chat" id="selected_msg_chat"  data-group_id="@chat.ChatId">
                <div class="d-flex bd-highlight">

                    <div class="img_cont">
                        <!--Change to chat icon-->
                        <!- TODO TRANSFORM BYTE ARRAY INTO ICON>
                        <img src="https://cdn.pixabay.com/photo/2016/08/09/21/56/fire-1581888_1280.jpg" class="rounded-circle user_img">
                        <!--<span class="online_icon"></span>-->
                        <!--<span class="online_icon offline"></span>-->
                    </div>
                    <div class="user_info">
                        <span>@chat.Name</span>
                        <!--<p>Ivan is online</p>-->
                    </div>
                </div>
            </li>

        }
    }
    else
    {
        <h1>Для вас пока что нету чатов. Создайте новый чат для общения!</h1>
    }
}

