
@{
    ViewBag.Title = "GetAllUsersToChat";
}
@model IEnumerable<MIPChat.Models.User>


@{
    var list = new List<MIPChat.Models.User>();
    list.Add(new MIPChat.Models.User() { Name = "fsdfsdfsdfsdfd", Surname = "dsfdsfsdaf" , UserId = Guid.NewGuid()});
    list.Add(new MIPChat.Models.User() { Name = "fs11d", Surname = "d132sfdsfsdaf" , UserId = Guid.NewGuid()});
    list.Add(new MIPChat.Models.User() { Name = "12313fdfd", Surname = "dcxvvcxvsfdsfsdaf" , UserId = Guid.NewGuid()});

    foreach (var user in list)
    {
        <div class="col-8 p-1">
            <div class="form-check">
                <input type="checkbox" value="@user.UserId" name="UserName[]">
                <!--Change to user.Icon-->
                < img src=user.Email class="rounded-circle user_img_msg">
                <label class="form-check-label" for="Users">user.Name user.Surname</label>
            </div>
        </div>
    }
}