
@{
    ViewBag.Title = "GetAllChatsForUser";
}
@model MIPChat.Models.User

@{
    //var chatsAtuser = (new MIPChat.DAL.UnitOfWork.ChatUnitOfWork()).Users.FindUserByName(Model.Name).Chats;


    var Messages4 = new List<MIPChat.Models.Message>();
    var Messages1 = new List<MIPChat.Models.Message>();

    Messages4.Add(new MIPChat.Models.Message() { Content = "хуй соси", MessageId = Guid.NewGuid() });
    Messages4.Add(new MIPChat.Models.Message() { Content = "нет ты соси", MessageId = Guid.NewGuid() });
    Messages4.Add(new MIPChat.Models.Message() { Content = "ты соси", MessageId = Guid.NewGuid() });

    Messages1.Add(new MIPChat.Models.Message() { Content = "110010101", MessageId = Guid.NewGuid() });
    Messages1.Add(new MIPChat.Models.Message() { Content = "1111111", MessageId = Guid.NewGuid() });
    Messages1.Add(new MIPChat.Models.Message() { Content = "000000", MessageId = Guid.NewGuid() });


    var chatsAtuser = new List<MIPChat.Models.ChatModel>();

    chatsAtuser.Add(new MIPChat.Models.ChatModel() { Name = "ыфвыфвыфвывыфвыф3dsfds213", ChatId = Guid.NewGuid() });
    chatsAtuser.Add(new MIPChat.Models.ChatModel() { Name = "32dfdsfdssdsfdsfdsf13", ChatId = Guid.NewGuid() });
    chatsAtuser.Add(new MIPChat.Models.ChatModel() { Name = "32dsdsf3212132113", ChatId = Guid.NewGuid() });
    chatsAtuser.Add(new MIPChat.Models.ChatModel() { Name = "dsfdsf3213", ChatId = Guid.NewGuid(), Messages = Messages4});




    if (chatsAtuser != null)
    {

        foreach (var chat in chatsAtuser)
        {
            using (Ajax.BeginForm("FindChat", new AjaxOptions { UpdateTargetId = "msg_card_body" }))
            {
                <li class="group">
                    <div class="d-flex bd-highlight" data-group_id="@chat.ChatId">

                        <div class="img_cont">
                            <!--Change to chat icon-->
                            <!- TODO TRANSFORM BYTE ARRAY INTO ICON>
                            <img src="https://cdn.pixabay.com/photo/2016/08/09/21/56/fire-1581888_1280.jpg" class="rounded-circle user_img">
                            <!--<span class="online_icon"></span>-->
                            <!--<span class="online_icon offline"></span>-->
                        </div>
                        <div class="user_info">
                            <span>@chat.Name</span>
                            <!--<p>Ivan is online</p>-->
                        </div>
                    </div>
                </li>
            }
        }
    }
    else
    {
        <h1>Для вас пока что нету чатов. Создайте новый чат для общения!</h1>
    }
}