
@{
    ViewBag.Title = "GetAllUsersToChat";
}
@model IEnumerable<MIPChat.DAL.Domain.User>


@{

        foreach (var user in Model)
        {
        <div class="col-8 p-1">
            <div class="form-check">
                <input class="userinput" type="checkbox" value="@user.UserId" name="@user.Name">
                <!--Change to user.Icon-->
                <img src="0" class="rounded-circle user_img_msg">
                <label class="form-check-label" for="Users">@user.Name @user.Surname</label>
            </div>
        </div>

    }
}